// Файл обнуляющих стилей
@import "nullstyle.scss";
// Шрифт
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face {
	font-family: CalSans;
	font-display: swap;
	src: url('/fonts/CalSans-SemiBold.woff2') format('woff2'), url('/fonts/CalSans-SemiBold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
body {
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	color: #666666;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto ;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

/***********************HEADER************************/

.header {

		&__container {
			padding: 5px inherit;
			display: flex;
			gap: 131px;
			align-items: center;
			min-height: 152px;
		}

		&__logo {
		}

		&__menu {
		}
}
.menu {

		&__list {
			display: flex;
			gap: 56px;
		}

		&__item {
		}

		&__link {
			font-style: normal;
			font-weight: 500;
			color: rgba(18, 18, 18, 0.4);
		}
		&__link:hover{
			text-shadow: #FF6428 0px 0px 10px;
			transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55) 0s;
		}
}

